<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender %><br />
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :destinations %><br />
    <%= f.text_area :destinations %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :attachement %><br />
    <%= f.text_field :attachement, 'disabled' => 'true' %>
  </div>
  <div class="field">
    <%= f.label :kickOff %><br />
    <%= f.datetime_select :kickOff, :default => Time.now.localtime %>
  </div>
  <div class="field">
    <%= f.label :repetition %><br />
    <%= f.text_field :repetition %>
  </div>
  <div class="field">
    <%= f.label :delay %><br />
    <%= f.text_field :delay %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
