<div id="pageContentHeader">
	Welcome Page
</div>

<!-- LOGIN PART -->
<%= form_tag(:method => "post", :action => 'process_login') do %>
	<div class="field">
		<%= label_tag(:q, "Login As:") %><br />
		<%= text_field_tag(:username) %>
	</div>
	<div class="field">
		<%= label_tag(:q, "Password:") %><br />
		<%= password_field_tag(:password) %>
	</div>  
	<div class="field">
		<%= submit_tag "Login" %>
		<%= submit_tag "LoginAnon" %>
	</div>
<% end %>

Register As <%= link_to 'New User', "/users/new" %>