<h1>New user</h1>

<%= form_tag(:method => "post", :action => 'create') do %>
<div class="field">
    <%= label_tag(:q, "Username") %><br />
    <%= text_field_tag(:username) %>
  </div>
  <div class="field">
    <%= label_tag(:q, "Password") %><br />
    <%= password_field_tag(:password) %>
  </div>
  <div class="actions">
   <%= submit_tag "Create User" %>
</div>
<% end %>

<%= link_to 'Back', "/" %>
