<!DOCTYPE html>
<html>
	<head>
		  <title>Reminder</title>
		  <%= stylesheet_link_tag :all %>
		  <%= javascript_include_tag :defaults %>
		  <%= csrf_meta_tag %>
	</head>
	<body>

<div>
	<div id="left" class="bar">
		<ul>
			<li><%= link_to "Home", '/myPage' %></li>
			<li><%= link_to_unless(@user.nil?, "Jobs", '/jobs' ) %></li>
			<li><%= link_to_unless(@user.nil?, "Job Templates", '/job_templates' ) %></li>
			<li><%= link_to_unless(@user.nil?, "Mail Servers", '/mail_servers' ) %></li>
			<li><%= link_to_unless(@user.nil?, "Users", '/users' ) %></li>
			<li><%= link_to_unless(@user.nil?, "Logout", '/logout' ) %></li>
		</ul>
		<ul><% if @user.nil? %>
		<% else %>
			<hr><p>You are logged in as <h3><%= @user.username %></h3>
		<% end %>
		</ul>
	</div>
	
	<div id="right" class="bar"></div>
	<div id="center"><%= yield %>
		<div id="myText">
		</div>
	</div>
</div> 

	</body>
</html>
